@import "bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: "Satoshi";
  src: url(../fonts/Satoshi-Regular.woff2);
}

@font-face {
  font-family: "Satoshi-italic";
  src: url(../fonts/Satoshi-Italic.woff2);
}

@font-face {
  font-family: "Satoshi-bold";
  src: url(../fonts/Satoshi-Bold.woff2);
}
/* ====================================
// css variables
// ==================================== */

:root {
  --title: "Titan One", sans-serif;
  --text: "Satoshi", sans-serif;
  --text-bold: "Satoshi-bold", sans-serif;
  --text-italic: "Satoshi-italic", sans-serif;
  --white: #fff;
  --black: #000;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: var(--text);
  color: var(--white);
  background-color: var(--black);
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
span,
a,
p {
  font-size: 20px;
  font-family: var(--text);
}

em {
  font-family: var(--text-italic);
}

strong {
  font-family: var(--text-bold);
}

h2,
h3 {
  font-family: var(--title);
  text-transform: uppercase;
  margin-bottom: 35px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.logo img {
  max-width: 60%;
}

/* ====================================
// base rules
// ==================================== */

/* button ↓ */

.buttons {
  display: flex;
  gap: 30px;
  margin-top: 35px;
}

.button {
  border-radius: 4px;
  border: 1px solid var(--white);
  padding: 10px;
  color: var(--black);
  background-color: var(--white);
}

.button-secondary {
  color: var(--white);
  background-color: var(--black);
}

.buttons-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

/* header ↓ */

nav {
  text-align: right;
  padding: 25px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 5%;
}

header {
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 10000;
  position: fixed;
  width: 100%;
  top: 0;

  .logo {
    width: 30%;
  }
}

.img-fond-header {
  img {
    max-width: 100vw;
  }
}

.logo-info {
  position: absolute;
  z-index: 1000;
  top: 30%;
  left: 10%;
  width: 40%;

  .logo {
    max-width: 100%;
  }

  .auteurs {
    display: flex;
    justify-content: space-between;

    p {
      text-shadow: 0px 4px 20.5px rgba(0, 0, 0, 0.25);
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    p:first-child {
      margin-left: 2%;
    }
  }
}

.indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;

  p {
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .down-arrow {
    text-align: right;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

/* main ↓ */

.narration-end {
  margin: 15% 0;

  img {
    width: 100vw;
  }
}
/* main  section-intro ↓ */

.section-intro {
  aspect-ratio: 1 / 0.7;

  .dialogue-intro,
  .img-narrativ-intro {
    position: absolute;
  }
  .dialogue-intro {
    top: 0%;
    left: 29%;
    z-index: 2;
    width: 25%;
  }

  .img-narrativ-intro {
    top: 10%;
    left: 37%;
    width: 30%;
    z-index: 1;
  }
}

/* scroll horizontal ↓ */

body {
  height: 100vh;
  margin: 0;
}

.spacer {
  height: 100vh;
  margin-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.h-30 {
  height: 30vh;
}
.h-50 {
  height: 50vh;
}
.h-75 {
  height: 75vh;
}
.h-100 {
  height: 100vh;
}

.scroll-horizontal {
  // border: 5px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.slider-track {
  height: 100%;
  display: inline-flex;
  align-items: center;
  // border: 5px solid red;
  // border-radius: 5px;
}

.slider-track .section-narrative {
  // width: calc(100vw ß- 40px);
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 5px solid blue;
}

// tu ne peux pas être plus grand que ton parent
img {
  max-width: 100%;
}

/* scroll horizontal sectio narrative ↓ */

.section {
  position: relative;
}

.section-narrative {
  .dialogue,
  .img-narrativ {
    position: absolute;
  }

  // .dialogue {
  //   max-width: 25%;
  // }

  // .img-narrativ {
  //   max-width: 50%;
  // }
}

// NARRATIV-2
.slider-track {
  .section-narrative-2 {
    // width: 100vw;
    aspect-ratio: 1 / 0.62;
    .dialogue2-1 {
      top: 5%;
      left: 10%;
      z-index: 2;
      width: 25%;
    }

    .img-narrativ2-2 {
      width: 40%;
      top: 20%;
      z-index: 1;
    }

    .dialogue2-3 {
      top: 5%;
      right: 3%;
      z-index: 2;
      width: 35%;
    }
  }
}

// NARRATIV-3
.slider-track {
  .section-narrative-3 {
    // width: 113.68vw;
    aspect-ratio: 1 / 0.5;

    .img-narrativ3-1 {
      bottom: 5%;
      left: 5%;
      z-index: 4;
      width: 50%;
    }
    .dialogue3-2 {
      bottom: 41%;
      left: 30%;
      z-index: 5;
      width: 41%;
    }

    .img-narrativ3-3 {
      top: 2%;
      right: 5%;
      z-index: 3;
      width: 32%;
    }
  }
}

// NARRATIV-4
.slider-track {
  .section-narrative-4 {
    // width: 90vw;
    aspect-ratio: 1 / 0.55;
    .img-narrativ4-1,
    .img-narrativ4-2 {
      z-index: 5;
      width: 30%;
      bottom: 5%;
    }
  }
}

// NARRATIV-5
.slider-track {
  .section-narrative-5 {
    // width: 189.241vw;
    aspect-ratio: 1 / 0.3;
    .dialogue5-1 {
      top: 2%;
      left: 0;
      z-index: 7;
      width: 18%;
    }

    .img-narrativ5-2 {
      top: 12%;
      left: 13%;
      z-index: 6;
      width: 20%;
    }
    .dialogue5-3 {
      bottom: 35%;
      left: 35%;
      z-index: 9;
      width: 13%;
    }

    .img-narrativ5-4 {
      bottom: 5%;
      left: 40%;
      z-index: 8;
      width: 32%;
    }

    .img-narrativ5-5 {
      top: 3%;
      right: 2%;
      width: 21%;
      z-index: 10;
    }
  }
}

// NARRATIV-6
.slider-track {
  .section-narrative-6 {
    // width: 100vw;
    aspect-ratio: 1 / 0.6;

    .img-narrativ6-1 {
      top: 20%;
      right: 17%;
      z-index: 11;
      width: 72%;
    }

    .dialogue6-2 {
      z-index: 12;
      top: 5%;
      right: 5%;
      width: 23%;
    }
  }
}

// NARRATIV-7
.slider-track {
  .section-narrative-7 {
    // width: 240vw;
    aspect-ratio: 1 / 0.31;

    .img-narrativ7-1 {
      bottom: 0;
      left: 1%;
      z-index: 13;
      width: 11.5%;
    }
    .img-narrativ7-2 {
      top: 0%;
      left: 15%;
      z-index: 14;
      width: 10%;
    }
    .img-narrativ7-3 {
      bottom: 3%;
      left: 33%;
      z-index: 15;
      width: 22%;
    }

    .img-narrativ7-4 {
      top: 25%;
      right: 6%;
      z-index: 16;
      width: 30%;
    }
  }
}

// NARRATIV-8
.slider-track {
  .section-narrative-8 {
    // width: 110vw;
    aspect-ratio: 1 / 0.6;

    .dialogue8-1 {
      z-index: 18;
      left: 3%;
      top: 12%;
      width: 15%;
    }
    .img-narrativ8-2 {
      z-index: 17;
      bottom: 10%;
      left: 10%;
      width: 80%;
    }

    .dialogue8-3 {
      z-index: 19;
      top: 12%;
      right: 0;
      width: 22%;
    }
  }
}

// NARRATIV-9
.slider-track {
  .section-narrative-9 {
    aspect-ratio: 1 / 1;
    .dialogue9-1 {
      left: 15%;
      bottom: 65%;
      z-index: 21;
      width: 22%;
    }

    .img-narrativ9-2 {
      z-index: 20;
      bottom: 0;
      left: 33%;
      width: 40%;
    }

    .dialogue9-3 {
      right: 15%;
      bottom: 10%;
      z-index: 22;
      width: 22%;
    }
  }
}

// NARRATIV-10
.slider-track {
  .section-narrative-10 {
    // width: 85vw;
    aspect-ratio: 1 / 0.7;
    .dialogue10-1 {
      left: 10%;
      top: 5%;
      z-index: 21;
      width: 30%;
    }

    .img-narrativ10-2 {
      z-index: 20;
      bottom: 10%;
      left: 25%;
      width: 51%;
    }

    .dialogue10-3 {
      right: 14%;
      bottom: 10%;
      z-index: 22;
      width: 18%;
    }
  }
}

// NARRATIV-11
.slider-track {
  .section-narrative-11 {
    // width: 139.31vw;
    aspect-ratio: 1 / 0.416;

    .dialogue11-1 {
      top: 17%;
      left: 3%;
      z-index: 23;
      width: 20%;
    }

    .img-narrativ11-2 {
      left: 12%;
      bottom: 10%;
      z-index: 22;
      width: 40%;
    }

    .dialogue11-3 {
      z-index: 24;
      top: 3%;
      right: 5%;
      width: 29%;
    }
  }
}

// NARRATIV-12
.slider-track {
  .section-narrative-12 {
    // width: 90.56vw;
    aspect-ratio: 1 / 0.67;

    .img-narrativ12-1 {
      z-index: 25;
      left: 18%;
      top: 20%;
      width: 57%;
    }

    .dialogue12-2 {
      top: 8%;
      left: 28%;
      z-index: 26;
      width: 24%;
    }

    .dialogue12-3 {
      z-index: 27;
      top: 13%;
      right: 6%;
      width: 26%;
    }
  }
}

// NARRATIV-13
.slider-track {
  .section-narrative-13 {
    // width: 105vw;
    aspect-ratio: 1/ 0.62;
    .dialogue13 {
      max-width: 40%;
    }
  }
}

/* main section danger ↓ */

.container-danger-img {
  height: 100%;
  max-width: 100%;
  display: inline-flex;
  flex-direction: column;
}

.section-danger {
  .section-danger-img {
    width: 34%;
    position: absolute;
  }

  .section-danger-img-part2-1 {
    right: 7%;
    top: 0;
  }
  .section-danger-img-part2-2 {
    left: 7%;
    top: 50%;
  }
}

/* main section product ↓ */

.section-product-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-product-text-only {
  display: flex;
  flex-direction: column;
}
.section-product-detail {
  li {
    list-style-type: none;
  }

  ul {
    margin-top: 30px;
  }
}
.section-product-detail-review {
  margin: 150px 0;
  display: flex;
}

.section-product-review {
  p {
    margin: 30px 0;
  }
}

/* footer ↓ */

footer img {
  max-width: 206px;
}

hr {
  height: 2px;
  margin: 70px 0;
}

.narration-end img {
  max-width: 100vw;
}
