@import "bootstrap/scss/bootstrap-grid";

@font-face {
  font-family: "Satoshi";
  src: url(../fonts/Satoshi-Regular.woff2);
}

@font-face {
  font-family: "Satoshi-italic";
  src: url(../fonts/Satoshi-Italic.woff2);
}

/* ====================================
// css variables
// ==================================== */

:root {
  --text: "Satoshi", sans-serif;
  --text-bold: "Satoshi-bold", sans-serif;
  --text-italic: "Satoshi-italic", sans-serif;
  --white: #fff;
  --black: #000;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: var(--text);
  color: var(--white);
  background-color: var(--black);
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
span,
a {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.block-test {
  background-color: red;
  width: 600px;
  height: 600px;
  // position: absolute;
}

.dialogue-test {
  background-color: yellow;
  width: 600px;
  height: 400px;
  // position: absolute;
}

// tu ne peux pas être plus grand que ton parent
img {
  max-width: 100%;
  position: absolute;
}

.section {
  position: relative;
  border: 2px blue solid;
}

.section-narrative {
  display: flex;
  align-items: start;
  justify-content: center;
  border: 2px pink solid;
}

body {
  height: 100vh;
  margin: 0;
}

.spacer {
  height: 100vh;
  margin-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: repeating-linear-gradient(
    45deg,
    #606dbc33,
    #606dbc33 10px,
    #606dbc00 10px,
    #606dbc00 20px
  );
}

.h-50 {
  height: 50vh;
}
.h-75 {
  height: 75vh;
}
.h-100 {
  height: 100vh;
}

.scroll-horizontal {
  border: 5px solid black;
  border-radius: 10px;
  overflow: hidden;
}

/* slider track */
.slider-track {
  height: 100%;
  display: inline-flex;
  border: 5px solid red;
  border-radius: 5px;
}

/* slider item (screen) */
.slider-track .section-narrative {
  width: calc(100vw - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid blue;
}
